<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i> Cart<span id="badge" class="badge">{% if no_of_items != 0 %}{{no_of_items}}{% endif %}</span></a> 
<div  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >

    <div class="shopping-cart" >
        
        <div class="shopping-cart-header"> <!-- shopping-cart-header -->
        <i class="fa fa-shopping-cart cart-icon"></i><span id="badge" class="badge" >{{no_of_items}}</span>
        <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text">${{total}}</span>
        </div>
        </div> <!--end shopping-cart-header -->
        {% if no_of_items != 0 %}
        <ul class="shopping-cart-items">
            {% for cartitem in cart_items %}
            <li class="clearfix">
                <img src="/media/{{cartitem.item.image_thumbnail}}" alt="{{cartitem.item.name}}" style="border-radius: 50%;height: 70px;width: 70px;" />
                <div class="desc" >
                    <span class="item-name">{{cartitem.item.name}}</span>
                    <span class="item-price">${{cartitem.item.price}}</span>
                    <span class="item-quantity">Quantity: {{cartitem.quantity}}</span>
                </div>
            </li>
            {% endfor %}                        
        </ul>
            {% if user.is_authenticated %}
                <a ><button type="button" class="button" data-toggle="modal" data-target="#exampleModal">Checkout</button></a> 
            {% else %}
                <a href="{% url 'account_login' %}" class="button">Login to Proceed</a>
            {% endif %}
        {% else %}
        <ul class="shopping-cart-items">
            <li class="clearfix">
                <span>Add Items to the Cart.</span>
            </li>
        </ul>
        {% endif %}

    </div>
</div> 
